<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" >
	<title></title>
</head>

<style>

@font-face {
    font-family: Libel;
    src: url(http://localhost:3000/lib/font/UTM-Libel-KT.ttf);
}

@font-face {
    font-family: HelvetIns;
    src: url(http://localhost:3000/lib/font/UTM-HelvetIns.ttf);
}


body {
    background-image: url(http://localhost:3000/lib/Music-wallpaper.png);
}

.supervisor .name_wrapper p{
        font-family: Libel;
}

.supervisor .mark_wrapper p {
        font-family: HelvetIns;

}

.label-name{
	 font-family: Libel;
}

.song-name,
.avgMark p,
.division-name,
.singer-name{
	 font-family: HelvetIns;
    
}

	
</style>

<body>
<div id="root">
	
</div>


<footer>
	<script type="text/javascript" src="bundle.js"></script>
	<script src="lib/js/jquery-3.1.1.slim.min.js"></script>
	<script src="lib/js/tether.min.js" ></script>
	<script src="lib/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js" ></script>
	<script src="lib/js/firework.js"></script>
</footer>
</body>
</html>