<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" >
	<title></title>
</head>

<style>
body {
    overflow: hidden;
    color: #fff;
        background-repeat: no-repeat;
    background-size: 100% 768px;
    background-image: url(http://localhost:3000/lib/3311d631e42a655dab1bd59760d80f038.png);
}
	
</style>

<body>
<div id="root">
	
</div>


<footer>
	<script type="text/javascript" src="bundle.js"></script>
	<script src="lib/js/jquery-3.1.1.slim.min.js"></script>
	<script src="lib/js/tether.min.js" ></script>
	<script src="lib/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js" ></script>
	<script src="lib/js/firework.js"></script>
</footer>
</body>
</html>