body {
    overflow: hidden;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 1024px;
}

.mark-center {
    padding: 60px;
}

#wrapper_canvas {
    position: absolute;
    top: 0;
}

.supervisor {
    margin: 20px 60px 0px 60px;
}

#start {
    display: none;
}

.supervisor .mark_wrapper {
    width: 218px;
       height: 120px;
    margin: auto;
    border: 1px solid;
    position: relative;
    background: #ffffff;
    border-radius: 15px;
}

.supervisor .mark_wrapper p {
    position: absolute;
    top: 30%;
    left: 48%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    color: #ff0000;
    font-size: 69px;
}

.supervisor .name_wrapper {
    width: 218px;
    min-height: 50px;
    margin: auto;
    border: 1px solid;
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    margin-top: 3px;
}

.supervisor .name_wrapper p {
    color: #1350dc;
    font-size: 31px;
    font-weight: bold;
    margin: 0px;
        padding: 0px 10px;
}
.show-song{
    min-height: 133px;
    margin: auto;
    border: 1px solid;
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    margin-top: 280px;
        text-align: left;
    padding: 25px;
}
.show-song p{
    margin: 0px;
    font-size: 35px;
    font-style: italic;
}
.avgMark{
    min-height: 400px;
    margin: auto;
    border: 1px solid;
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    margin-top: 10px;
}

.label-name{
      color: #1350dc;
      margin-right: 20px;
}
.song-name{
    color: #ff0000;
    font-style: initial;
    font-weight: bold;
}
.singer-name{
    color: #1350dc;
    font-style: initial;
    font-weight: bold;

}
.division-name{
    color: #1350dc;
    font-style: initial;


}
.avgMark p{
         position: absolute;
    top: 35%;
    left: 48%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    color: #ff0000;
    font-size: 200px;

}



.mark_wrapper p.wait_show {

    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotateY(0deg); }
    to { -ms-transform: rotateY(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotateY(0deg); }
    to { -moz-transform: rotateY(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0deg); }
    to { -webkit-transform: rotateY(360deg); }
}
@keyframes spin {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}